
header
  section.content
    ul.header-ul
      li.description
        = image_tag image_url('logo.png'), class: 'logo'
        h1 Mobile remote controler
        p
          | GameW.in lets you use your Windows Phone as a custom remote controler for you PC

        a.twitter-hashtag-button href="https://twitter.com/intent/tweet?button_hashtag=gameWIN" data-url="http://gamew.in" #gameWIN
        div.fb-like data-href="https://www.facebook.com/pages/Gamewin/569138926492596" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"

        br
        = link_to '#', class: 'download' do
          i.fa.fa-download 
          | &nbsp p Download coming soon!

      li.phone
        = image_tag image_url('phone1.png'), class: 'first'
        = image_tag image_url('phone2.png'), class: 'second'




div.clearfix

section.content
  section.content-block
    ul
      li.left
        = image_tag image_url('boy.png'), class: 'boy'
      li.right
        p.middle.bold
          | Use GameW.IN smart controller to play games and control music playback with your phone. Create custom controller for your games layouts with controller editor.

        

    div.clearfix

  section.content-block.dotted
    ul
      li.left
        p.middle.long style="width: 500px;"
          | Just download and install GameW.IN app both the 
          a href="#" Windows Phone 
          | &nbspand 
          a href="#" Windows PC
          | .

      li.right.large
        = image_tag image_url('notebook.png'), class: 'notebook'
        = image_tag image_url('girl.png'), class: 'girl marget'
  div.clearfix

footer
  section.content
    ul.contacts
      li
        = image_tag image_url('persons/nikita.png')
        h2 
          = link_to 'Nikita Cornijs', 'http://www.linkedin.com/pub/nikita-cornijs/85/792/996?trk=fbr'
        span CEO, Designer
      li
        = image_tag image_url('persons/dima.png')
        h2
          = link_to 'Dmitri Maslakov', 'http://www.ivi.lv'
        span Senior designer, UI/UX Specialist
      li
        = image_tag image_url('persons/grisha.png')
        h2
          = link_to 'Grigorijs Kovjazins', 'http://www.linkedin.com/pub/grigorijs-kovjazins/43/974/720'
        span Marketing Director
      li
        = image_tag image_url('persons/edgar.png')
        h2
          = link_to 'Edgar Meinart', 'http://www.linkedin.com/pub/edgar-meinart/83/360/314'
        span Senior Backend Developer
      li
        = image_tag image_url('persons/kostya.png')
        h2
          = link_to 'Konstantins Bogdanovs', 'https://www.facebook.com/konstanti.bogdanov?ref=tn_tnmn'
        span Senior Desktop Developer
      li
        = image_tag image_url('persons/janis.png')
        h2
          = link_to 'Jānis Ozols', 'http://lv.linkedin.com/pub/janis-ozols/3/136/117'
        span Senior Mobile Developer
    = image_tag image_url('icons/garage48.png'), class:'garage_logo' 