/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
@import "bourbon";
@import "layout";
@import "helpers";
@import "constructor";

@font-face {
    font: {
       family: 'Segoe';
       weight: 'normal';
       style: 'normal';
    }
    src: asset-url('SegoeWP.ttf', font) format('truetype')
}@font-face {
    font: {
       family: 'Segoe';
       weight: 'light';
       style: 'light';
    }
    src: asset-url('SegoeWP-Light.ttf', font) format('truetype')
}