section.constructor{
  position: absolute;
  width: 800px; height: 620px;
  left:50%; top: 50%;
  margin: -310px 0 0 -400px;
  border: 1px solid black;

  div.jbutton{
    background-color: black;
    position: inline-block;
    width: 100px; height: 100px;
    border: 1px solid black;
    img{ width: 100%; height: 100%; }
  }
}

/*section.constructor-body{
  display: block;
  margin: 0; border-bottom: 1px solid red;
  width: 100%; height: 620px;


  div.jbutton{
      list-style: none;
      display: inline-block ;
      width: 100px; height: 100px;
      margin: 10px 10px 10px 10px;
      border: 1px solid black;
      background-color: black;
      img{ width: 100px; height: 100px;}
    }
}*/