.download{
  width: 300px;
  height: 50px;
  background-color: #7fba00; color: white; text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  line-height: 48px;  
  &:hover{
    background-color: #669603;
  }
  pointer-events: none;
  cursor: default;
}
div.fb-like{
  width: 440px;
  color: white !important;
  margin-bottom: 44px;
}