body{
  margin: 0 0 0 0;
  font-family: 'Segoe';
  font-weight: 'light';
}
header{
  margin: 0;
  width: 100%;
  min-width: 1000px;

  background: image-url('header-bg.png') no-repeat center;
  background-size: cover;
  height: 500px;
  margin: 0 auto 0 auto;
  font-size: 20px;
}
div.clearfix{ clear: both; }
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
img.first{ width: 82%; height: auto;
  position: absolute; z-index: 40;
  left: 75px;
  top: 55px;
}
img.second{ width: 82%; height: auto;
  position: absolute; z-index: 39;
  left: 75px;
  top: 223px;
}

img.logo{ width: 60%; height: auto;}
.content{
  color: white;
  width: 1000px;
  margin: 0 auto 0 auto;
  position: relative;

  > ul.header-ul{
    li{
      float: left;
      position: relative;
      &.phone{
        height: 500px;
        width: 446px;
      }
      &.description{
        margin-top: 50px;
        margin-left: 40px;
        width: 431px;
        h1 { font-size: 35px; }
        p { max-width: 500px; margin-bottom: 30px; }
      }
    }
  }
}

section.description{
  margin-top: 60px;
  font-size: 19px;
  color: black;
  > ul {
    li{
      font-weight: normal;
      &.video { width: 600px; float: left;}
      &.descr{ width: 340px; float: right;}
    }
  }
}

section.content-block{
  font-size: 20px;
  display: block;
  margin-top: 40px;
  ul{
    color: black;
    li.left{
      margin-left: 40px;
      width: 460px;
      float: left;
      position: relative;
    }
    li.right{
      margin-right: 40px;
      width: 460px; height: 400px;
      float: right;
      position: relative;
    }

  }
  p{
    width: 493px; line-height: 26px;
    &.middle{ padding-top: 128px; }
  }
}

.notebook {
  z-index: 300;
  width: 30%; height: auto;
  position: absolute;
  left: 52px; top: 260px;
}
.boy {
  width: 60%; height: auto;
  position: absolute;
  left: 100px; top: 20px;
}
.girl {
  width: 60%; height: auto;
  position: absolute;
  left: 100px; top: 20px;
}
section.video{
  display: block;
  margin-top: 40px;
  padding-top: 40px;
  ul{
    color: black;
    li.left{
      margin-left: 40px;
      width: 460px;
      float: left;
      position: relative;
    }
    li.right{
      margin-left: 80px;
      width: 380px;
      float: left;
      position: relative;

      p{ display: block; width: 400px;}
    }

  }
  p{
    width: 358px; line-height: 26px;
    &.middle{ padding-top: 200px; }
  }
}
.dotted{
  border-top: 3px solid #537f80;
  border-width:5px; 
  border-style:dotted;
}
img.marget{
  margin-top: 44px;
}
li.large{
  width: 446px !important;
}
footer{
  width: 100%;
  min-width: 1000px;
  background: image-url('header-bg.png') no-repeat center;
  background-size: cover;
  height: 300px;
  position: relative;
}

ul.contacts{
  margin-left: 34px;
  li{ 
    width: 230px;
    position: relative;
    margin-top: 41px;
    float: left; list-style: none;
    img{ 
      position: absolute; left: 0; top: 0; width: 50px; height: auto; border-radius: 25px;
      -webkit-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    0px 0px 17px rgba(50, 50, 50, 0.75);
      box-shadow:         0px 0px 17px rgba(50, 50, 50, 0.75);
    };
    padding-left: 69px;
    h2{ margin: 0; color: white; font-size: 15px; }
    a { color: white; }
  }
}

.garage_logo{
  position: absolute;
  top: 235px; right: 20px;
}
.twitter-hashtag-button{
  display: block;
  margin-bottom: 10px;
}
