<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://gamew.in"/>
  <meta property="og:title" content="Use your Windows Phone as a custom remote controler for you PC"/>
  <meta property="og:image" content="<%= image_url('logo.png') %>"/>
  <meta property="og:site_name" content="GameW.in"/>
  <meta property="og:description" content="Just download and install GameW.in app both for the Windows PC and WP smartphone."/>

  <%= favicon_link_tag image_url('icons/favicon.png') %>
	<title>gameWIN</title>
  <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", media: 'all' %>
  <%= stylesheet_link_tag    "//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css", media: 'all' %>
  <%= stylesheet_link_tag    "application", media: "all" %>


  <%= csrf_meta_tags %>
</head>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-45807851-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=347668155363142";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
<body>
<!-- <div id="fb-root"></div> -->




<%= yield %>

</body>


  <%= javascript_include_tag    "//code.jquery.com/jquery-1.9.1.js" %>
  <%= javascript_include_tag    "//code.jquery.com/ui/1.10.3/jquery-ui.js" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>


  
</html>
